<!-- About Section -->
 <div class="col-lg-6">
<section id="about" class="content-section text-center">
    <h3>{% if header.title %}{{ header.title }}{% endif %}</h3>
            {{ page.content }}
        
    
</section>
</div>