<!-- AboutWhite Section -->
 <div class="col-xs-6">
<section id="about2" class="content-section text-center white">
    <h3>{% if header.title %}{{ header.title }}{% endif %}</h3>        
            {{ page.content }}   
</section>
</div>