<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
            <div class="col-xs-12">
            <h3>{% if header.title %}{{ header.title }}{% endif %}</h3>
            	{{ page.content }}
                <a href="{{ page.header.button_url }}" class="btn btn-default btn-lg">{{ page.header.button_text }}</a>
            </div>
    </div>
</section>