<!-- Info Section -->
 <div class="col-lg-4">
    <section id="info" class="content-section text-center">
        <div class="info-section">

            <h3>{% if header.title %}{{ header.title }}{% endif %}</h3>
            	{{ page.content }}
        </div>
    </section>
 </div>
