<!-- Info Section -->
<section id="info" class="content-section text-center">
    <div class="info-section">
            <div class="col-lg-4">
            <h3>{% if header.title %}{{ header.title }}{% endif %}</h3>
            	{{ page.content }}
            </div>
    </div>
</section>