<!-- Intro Header Pimpé -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
              </div>
                <div class="col-offset-xs-6 col-xs-6">
                    <h3 class="brand-heading">{{ site.title }}</h3>
                    <p class="intro-text">{{ page.header.intro_text }}</p>
                    
                </div>
                <div class="col-xs-6"> {{ page.content }}</div>
            </div>
        </div>
    </div>
    <div class="color-divider">
    </div>
</header>
